@{
	ViewData["Title"] = "StockTwse";
}

@section Styles {
	<style>
	</style>
}

<div class="container" id="app">
	<div class="row">
		<div class="col-lg-12">
			<div class="" v-if="spinner" v-cloak>

			</div>
			@*bs spinner 動畫*@
			<partial name="_Spinner"></partial>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		let app = new Vue({
			el: "#app",
			data: {
				spinner: false,
			},
			mounted: function () {

			},
			computed: {

			},
			methods: {

			},
		});
	</script>
}