@{
    ViewData["Title"] = "Vivian";
}

@section Styles {
    <style>

    </style>
}

<div class="container" id="app">
    <h1>my name is vivian</h1>
    <h2>hello 吉他很好聽</h2>
    <h2>i love programming</h2>
    <h2>i am a student</h2>
    <h2>i am 7 years old</h2>
    <h2>i am in the second grade</h2>
    <h2>i am number 18</h2>
    <div>
        <img src="~/images/love.jpg" alt="img" height="100"/>
    </div>
    <div>
        <img src="~/images/opop.jpg" alt="img" height="300"/>
    </div>
    <h2>09/28/2025 15:17</h2>
</div>

@section Scripts {
    <script>

    </script>
}
