@{
    ViewData["Title"] = "Vivian";
}

@section Styles {
    <style>

    </style>
}

<div class="container" id="app">
    <h1>my name is vivian</h1>
    <h2>hello 吉他很好聽</h2>
    <h2>i am number 18</h2>
    <img src="~/images/love.jpg" alt="img" height="100"/>
</div>

@section Scripts {
    <script>

    </script>
}
